@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        <h5>Goowitter project</h5>
    </p>

    <p>
        <h5>Programmer:</h5> Karolis Kašys
    </p>

    <p>
        <h5>Location:</h5> IF 2/8 KTU
    </p>
    <p>
        <h5>Email:</h5> karolis.kasys@ktu.edu
    </p>
</article>