@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Project Goowitter is LIVE and functional!<br />
                Feel free to register and if you already are a member of our website login and start searching.<br />
                You can get tweet locations matching search query from all over the world.<br />
                Be warned though - searching for everyday words like "love" or "thanks" is time consuming, so be patient and dont rage.<br />
            </p>
        </div>
    </section>
}
<h3>Some tips on searching:</h3>
<ol class="round">
    <li class="one">
        <h5>Precision is the key</h5>
        Be sure to write not only the search querry but also the date boundaries - this greatly increases 
        quality of the results.
    </li>

    <li class="two">
        <h5>Use Twitter Search operators</h5>
        I'm not quite sure if these work (havent actually tested them yet), but you can
        try using Twitter search operators linked below.
        <a href="https://support.twitter.com/articles/71577-how-to-use-advanced-twitter-search">Learn more…</a>
    </li>

    <li class="three">
        <h5>Be friendly</h5>
        If you happen to find a bug or if error occured please send me an email.
        Contact information is in "About" tab.
    </li>
</ol>
<h3>Here below is a perfectly good example Search with the "Volkswagen" querry:</h3><br />
<img src="@Url.Content("~/Images/frontpageexample.jpg")" alt="IMAGES" />